<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>

   
    <include file="$(find multi_robot)/launch/rosbot_pro.launch" />

    <!-- Launch Mapping & Navigation-->
    <include file="$(find multi_robot)/launch/navigation.launch" />
    <node pkg="multi_robot" type="pattern1.py" name="rosbot_gotopose" output="screen"/>
    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>