<launch>
    <group ns="robot1">
        <!-- Launch Hardware -->
        <include file="$(find multi_robot)/launch/rosbot_pro.launch" />

        <!-- Launch Mapping & Navigation-->
        <include file="$(find multi_robot)/launch/navigation.launch" />
      
    </group>

    <group ns="robot2">
        <!-- Launch Hardware -->
        <include file="$(find multi_robot)/launch/rosbot_pro.launch" />

        <!-- Launch Mapping & Navigation-->
        <include file="$(find multi_robot)/launch/navigation.launch" />
        
    </group>
</launch>
